* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #ffffff;
	color: #fff;
    font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 90%;
	/* max-width: 1200px; */
	margin: auto;
	/* padding: 30px; */
	padding: 30px 150px 30px;
    /* padding: 40px 0; */
/* 
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px; */
}
/* .contenedor-imagenes div:hover {
    opacity: 1;
} */

.navegadorHoy {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* margin: 10px; */
    padding: 20px;
}

.opc {
    /* padding: 10px; */
    width: 100%;
    margin: auto auto 30px auto;  
    margin-right: 15px;
    text-decoration: none;
    /* width: 100%;   */
    color: black;
    font-size: 25px; 
}

.iconosnav {
    text-align: end;
}
.menuDesplegable {
    list-style: none;
    display: flex;
    justify-content:flex-end ;
    width: auto;
    margin: auto;
    /* width: 400px; */
}
/* .menuDesplegable > li > a {
    display: block;
    padding: 10px 5px;
    text-decoration: none;
}
.menuDesplegable > ul:hover {
    background-color: #767676;
}
.menuvertical {
    position: relative;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}
.menuDesplegable li:hover .menuvertical {
    display: block;
}
.menuvertical li:hover {
    background-color: white;
}
.menuvertical li a {
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
} */

 /* header {
     position: fixed;
     top: 0px;
     left:0px;
     right: 0px;
     background-color: black;
} */

.contenedor-imagenes {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px
}

.imagenes {
	border-radius: 30px;
	min-height: 300px;
    min-width: 230;
	font-weight: bold;
	padding: 20px;
	position: relative;
	background-size: cover; /* se preserva el tamaño dentro del div */
	background-position: center center; /* Posicion de la imagen*/
}

.imagenes .textos {
	height: 100%;
	
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


.coloriconos {
    color: #767676;
}
.colorIconmas {
    color: #111111;
    margin: 10px;
    padding: 10px;
    width: auto;
    height: 30px;
    /* border: 2px solid black; */
    /* position: fixed;
    display: flex; */
    /* flex-direction: column; */
    text-decoration: none;
}
.enpantalla {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.opchelp {
    position: fixed;
    bottom: 15px;
    right: 10px;
}
.opcmas {
    position: fixed;
    bottom: 60px;
    right: 10px;
}
.opcpantalla {
    margin: 10px 5px 10px 0px;
    font-size: 30px;
    text-decoration: none;
    border-radius: 40%;
}
#busqueda {
    background-color: rgb(214, 208, 208);
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgb(214, 208, 208);
}
.textoimagen, h1{
    color: black;
}
.textimg {
    margin: 30px;
    width: 100%;
    align-items: center;
    text-align: center;
}
#botonhome {
    border-radius: 30px;
    width: 140px;
    height: 30px;
    font-size: 15px;
    border: 2px solid rgb(214, 208, 208);
    background-color: rgb(214, 208, 208);
}
.footer {
    width: 100%;
    padding: 20px;
    margin: 20px;
    text-align: center;
}